*           text=auto

# These files are text and should be normalized (convert crlf to lf)
*.cpp             text
*.hpp             text
*.md              text
*.yml             text
*.txt             text
meson.build       text
